{%extends 'base.html'%}
{% load static %}
{% block content %}
<br><br><br>
<h3 style='margin-left:500px; color:green;'>İŞÇİLƏRİN SİYAHISI</h3>
<br><br>
<div class='row'>
    <div class='col-6'>
      <table border='1' width="100%"  cellpadding="5" cellspacing="0">
        <tr>
          <th  style='margin-left:500px;' >Ofisdə işləyəcək işçilər</th>
        </tr>
          <tr>
            <td >
              <table width="100%"  >
            {% for onside in onsides %}
                {% for i in onside.employees_id.all %} 
                  <tr><td>{{ i.name }}</td></tr>
                {% endfor %}
            {% endfor %}
              </table>
            </td>
          </tr>
      </table>
    </div>
<br><br>
    <div class='col-6'>
      <table border='1' width="100%"  cellpadding="5" cellspacing="0">
        <tr >
          <th>Remote işləyəcək işçilər</th>
        </tr>
          <tr>
            <td >
              <table width="100%"  >
            {% for remote in remotes %}
                {% for i in remote.employees_id.all %} 
                  <tr><td>{{ i.name }}</td></tr>
                {% endfor %}
            {% endfor %}
              </table>
            </td>
          </tr>
      </table>
  </div>
</div>
  {% endblock %}


{% comment %} {% for employee in employees %}
    {% for i in employee.employees_id.all %}

        <h1>{{i.name}}</h>
    {% endfor %}

{% endfor %}



{% endblock %} {% endcomment %}

